* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bg-cal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.calculator {
    width: 300px;
    height: fit-content;
    background-color: lightslategray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: -2px -2px 5px #46464666, 2px 2px 2px #d6d6d6b1;
    gap: 10px;
    border-radius: 15px;
}

.calculator input {
    width: 100%;
    height: 100px;
    outline: none;
    text-align: right;
    font-size: 35px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: none;
    box-shadow: inset 2px 2px 5px #00000066, inset -2px -2px 5px #ffffff58;
    background-color: #697887;
}

::-webkit-input-placeholder {
    color: #999;
}

.calculator div {
    display: flex;
    justify-content: space-between;
}

.calculator button {
    width: 60px;
    height: 50px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px 5px #00000066, -2px -2px 5px #ffffff58;
    color: white;
    border-radius: 10px;
}

.calculator button:active {
    transform: scale(0.98);
    color: aqua !important;
}

.yellow {
    color: yellow !important;
    background-color: #697887 !important;
}

.equal {
    width: 135px !important;
}
